@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

@font-face {
  font-family: Icons;
  src: url('resources/fontello.ttf');
}

* {
  font-family: 'Open Sans', sans-serif;
  padding: 0px;
  margin: 0px;
  overflow-y: overlay;
  -webkit-touch-callout: none;
  user-select: none;
}

.icon {
  font-family: 'Icons', 'Open Sans', sans-serif;
}


::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar {
  height: 0.5vw;
  width: 0.5vw;
  opacity: 0%;
  z-index: 1;
}

::-webkit-scrollbar-thumb {
  display: none;
}

::-webkit-scrollbar-thumb:hover {
  display: none;
}

::-webkit-scrollbar-track {
  display: none;
}


p {
  display: inline;
}

body section {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  transition: transform 200ms;
}






/* CONTEXT-MENU */

.context-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  border: 2px solid #555;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  background: #222;
  color: #999;
  border-radius: 10px;
  padding-bottom: 10px;
}

.context-menu div {
  text-align: center;
  cursor: pointer;
  padding: 7px;
}

.context-menu div:hover {
  background: url("https://thumbs.dreamstime.com/b/%D1%87%D0%B5%D1%80%D0%BD%D1%8B%D0%B9-%D0%BE%D0%B3%D0%BD%D0%B5%D0%BD%D0%BD%D1%8B%D0%B9-%D1%84%D0%BE%D0%BD-%D1%81-%D0%B8%D1%81%D0%BA%D1%80%D0%B0%D0%BC%D0%B8-%D0%BE%D1%82-%D0%BE%D0%B3%D0%BD%D1%8F-%D1%84%D0%BE%D0%BD%D0%BE%D0%BC-%D1%81%D0%B2%D0%B5%D1%87%D0%B5%D0%BD%D0%B8%D1%8F-%D0%BA%D1%80%D0%B0%D1%81%D0%BD%D1%8B%D0%B5-%D0%BE%D0%B1%D0%BE%D0%B8-163433677.jpg"), #fff;
  color: #fff;
}

.context-menu div:first-child {
  font-weight: 600;
}

.context-menu div::after {
  content: "";
  background: #444;
  display: block;
  height: 1px;
  width: 100%;
  margin-top: 7px;
}


/* ALERT-FIELD */

.alertField {
  position: fixed;
  right: 0;
  top: 3vh;
}

.alertField .alert {
  border-left: 7px solid;
  border-radius: 5px;
  min-width: 270px;
  max-width: 350px;
  animation: AlertBubble 0.5s ease;
  padding: 15px;
  padding-right: 30px;
  margin-top: 2px;
}

.alertField .removed {
  animation: hideAlert 350ms ease-in 1s;
}

.alertField .alert p {
  font-weight: bolder;
  display: block;
}

@keyframes AlertBubble {
  0% {
    transform: translate(350px);
  }
  100% {
    transform: translate(0px);
  }
}
@keyframes hideAlert {
  0% {
    transform: translate(0px);
  }
  100% {
    transform: translate(350px);
  }
}


.alertField .error   p {color: #7c0000;}
.alertField .warning p {color: #7c7c00;}
.alertField .success p {color: #007c00;}

.alertField .error    {background-color: rgba(250, 170, 170, 0.9);}
.alertField .warning  {background-color: rgba(250, 250, 170, 0.9);}
.alertField .success  {background-color: rgba(170, 250, 170, 0.9);}

.alertField .error    {border-color: rgb(250, 0, 0);}
.alertField .warning  {border-color: rgb(255, 200, 0);}
.alertField .success  {border-color: rgb(0, 170, 0);}

.nonDeletableAlert {
  margin-bottom: 12px;
  padding-top: 12px;
}


.alertField.alert.removed {
  display: none;
}








/** @1-- */

#blackPhrase {
  background: black;
  color: white;
  justify-content: center;
  align-items: center;
}



/** @2-- */


#isWhite * {
  margin: 30px;
  font-size: 150%;
}

#isWhite {
  transition: all 1200ms;
}

#isWhite.handled {
  background: black;
  color: white;
}


/** @3-- */


#isPudge {
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 150%;
  text-align: right;
  background: black;
  color: white;
}

#isPudge * {
  margin: 30px;
}


/** @4-- */

#nigma {
  justify-content: center;
  align-items: center;
  font-size: 300%;
}


/** @5-- */

#ddos {
  justify-content: center;
  align-items: center;
  font-size: 300%;
  transition: all 1200ms;
}

#ddos.handled {
  background: black;
  color: white;
}
